.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 100px;
  width: 400px;
}

.login-header {
  display: flex;
  align-items: center;
  font-size: 4.5rem;
  color: #5664f5;
  font-weight: bold;
  margin-bottom: 30px;
}

.login-header-icon {
  margin-right: 10px;
}

hr {
  border: none;
  border-top: 1px solid #ececec;
  margin: 20px auto;
  width: 50%;
  display: flex;
  justify-content: center;
}

.signup-birthday-group > label {
  margin-bottom: 10px;
  display: block;
}

.signup-birthday-group > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.signup-birthday-group > div > span {
  width: 120px;
}

.signup-education {
  width: 419px;
}

.signup-footer {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
}

.signup-link {
  font-size: 0.9rem;
  color: #5664f5;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease;
}

.signup-link:hover {
  color: #3f51d8;
  text-decoration: underline;
  font-style: bold;
}