.visanto-input {
  position: relative;
}

.visanto-input-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #6e6e73;
  transition: all 0.2s ease;
  pointer-events: none;
  padding: 1rem;
}

.visanto-input-icon {
  margin-right: '100px';
  font-size: 14px;
}

.visanto-input > input {
  width: 100%;
  height: 36px;
  border: 1.5px solid #86868b;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  background: transparent;
  padding: 1rem 0 0 1rem;
}

.visanto-input>input:focus {
  border-color: #5664f5;
}

.focused .visanto-input-label {
  top: 20px;
  font-size: 11px;
}

.focused .visanto-input-icon {
  font-size: 10px;
}

.visanto-input.error input {
  border-color: #e30000;
  background-color: #f8d7da;
}

.inline-status {
  font-size: 12px;
  margin-top: -9px;
}

.inline-status.error {
  color: #e30000;
}

.inline-status-icon {
  margin-right: 5px;
}

.visanto-input svg {
  margin-right: 8px;
}