.operation-form {
  width: 1
}

.operation-form-select {
  margin-bottom: 10px;
  width: 300px;
}

.operation-form-input {
  margin-bottom: 10px;
  width: 283px;
}

.operation-forn-input-group>input {
  height: 32px;
  padding: 0.5rem;
  border: 1px solid #ECECEC;
  border-radius: 6px;
  line-height: 32px;
}

.radio-group {
  margin-bottom: 30px;
}

.radio-group>label:first-of-type {
  font-weight: bold;
}

.radio-group>div {
  display: flex;
  gap: 1rem;
  margin-top: 10px;
}

.radio-group>div>label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form-button {
  display: flex;
  justify-content: center;
}