.success-alert,
.warning-alert,
.error-alert {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  position: relative;
}

.success-alert {
  background-color: #d4edda;
  color: #155724;
}

.warning-alert {
  background-color: #fff3cd;
  color: #856404;
}

.error-alert {
  background-color: #f8d7da;
  color: #e30000;
  justify-content: flex-start;
}

.alert-icon {
  margin-right: 10px;
}

.alert-close-button {
  cursor: pointer;
  position: absolute;
  right: 10px;
  z-index: 10;
}

span {
  display: inline-block;
}
